@charset "utf-8";
/* CSS Document */
body {
    /* background-image: url(../IMAGES/bgimage.jpg);
    background-size: cover;
    /* ^^ means it will cover the entire area */
    font-family: Helvetica,Arial,sans-serif;
      
}



.material-symbols-outlined {
font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
    display:inline-flex;
    vertical-align:top;
}


/*h1, h2, h3 {
    margin: 0;
}*/

.molle-regular-italic {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}

h1 {
    font-family: "Molle", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    line-height: 30px;
    color: #336633;
}


h2 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  color: #919191;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  color: #919191;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 12px;
  line-height: 0px;
  color: #919191;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
font-size: 40px;
}

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
font-size: 12px;
}

h7 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #5b5b5b;
}

h8 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  color: #919191;
}

h9 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #919191;
}

/* for next part, since it's an id, we use hashtag # */

#container {
    width: 100%;    /* good for responsiveness, will fit for mobile, tablet, desktop */
    background-color: none;
    height: 900px;  /* height is not as important as it used to be ... could also do 768px */
    margin-left: auto;  /* auto defaults to whatever the system dictates */ 
    margin-right: auto; /* auto will also center (?) */
    
}

/* for next part, since it's a CLASS, we use a dot . */

.header {
    background-color: black;
    width: 100%;
    height: 200px; /* can customize based on our site */
    margin-left: auto;
    margin-right: auto;
}

.topbanner {
    background-image: linear-gradient(to right,#c6d299, #3e664b);
    width: 100%;
    height: 35px;
}

.bottombanner {
    background-color: #c6d299;
    width: 100%;
    height: 35px;
}

/* next will do buttons within the nav */


/*
.nav a{
    display: block; .... if you don't say BLOCK, the links "fall apart" 
    color: ghostwhite;
    text-align: center;
    padding: 15px 30px;   .... or could write padding: 15px 15px 15px 15px for top, right, bottom, left 
                    or could write padding: 15px 30px for (top and bottom) then (left and right)
                     or could write padding: 20px for all around 
    text-decoration: none;  .... will remove the underline from the link 
}
*/



.nav ul{
    float: left; /* floating links but don't always have to float */
    list-style: none; /* removing the default bullet */
    position: relative;   /* placing something .. before phones, everything was absolute .. now it's more relative .. sticky would be always visible, stay where it is as you scroll */
    padding-right: 100px;

}

.nav ul li{
    float: left;
    list-style: none;
    position: relative;
        text-align: center;
}

/* do next part in case we have a hover state .. otherwise it won't know where to place the hover state */

.nav ul li a {
    display: block;

  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-size: 15px;
  line-height: 70px;
  color: #919191;
    
    padding: 0px 0px;
      text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0); /* Start with transparent underline */
  transition: text-decoration-color 300ms;
    text-underline-offset: 10px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

/* next is for drop-down */

.nav ul li ul {
    display: none; /* bc if you use a block for the dropdown, play with it and see what happens */
    position: absolute;
    background-color: cadetblue;
    padding: 2px;
    border-radius: 0px 0px 10px 10px;  /* curves the corners .. top left , top right, bottom right, bottom left */
}

/* next part goes back to the previous .nav ul li */
.nav ul li a:hover {
    overflow: visible !important;
    display: block;
    background-color: black;
    color: #919191;
    padding: 0px;
    text-decoration: underline;
    text-decoration-color: #919191;
    text-underline-offset: 10px;
    text-decoration-thickness: .05rem;
}

/*dropdown next*/
.nav ul li:hover ul {
    display: block;
    background-color: white;
    padding: 2px 2px;
}


.nav ul li ul li {
    padding: 5px 10px;
}


/* next part is for the drop-down LINKS */

.nav ul li ul li a{
    color: chartreuse;
}

.nav ul li ul li a:hover {
    color: darkblue;
    background-color:white;
}

/* now for the slider */
.slider > div > img {
    width: 100%; /* again, percentages mean it's responsive */ 
    flex: 70%;
    flex-wrap: wrap; /* want it to break, but also want it to wrap (don't want it to stay static) */
    display: flex;
    opacity: .6;
    padding: 0px;
    position: relative;
}

.breadcrumbs {
    width: 100%;
}

.breadcrumbs a {
    color: #5b5b5b;
    text-decoration: none;
     text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0); /* Start with transparent underline */
  transition: text-decoration-color 300ms;
    text-underline-offset: 10px;
        text-decoration-thickness: .05rem;
}

.breadcrumbs a:hover {    overflow: visible !important;
    display: block;
    background-color: transparent;
    color: #919191;
    padding: 0px;
    text-decoration: underline;
    text-decoration-color: #919191;
    text-underline-offset: 10px;
    text-decoration-thickness: .05rem;
    
}

.breadcrumbs h7 {
    position: absolute;
    top: 308px;
    left: 100px;
}

.breadcrumbs h8 {
    position: absolute;
    top: 309px;
    left: 145px;
}

.breadcrumbs h9 {
    position: absolute;
    top: 308px;
    left: 178px;
}

.theleader {
    width: 100%;
}

.theleader h1 {
    position: absolute;
    top: 400px;
    left: 100px;
}

.theleader h2 {
    position: absolute;
    width: 450px;
    top: 510px;
    left: 100px;
}


details > summary {
  list-style-position: outside;
  margin-left: 0px;
    color: #336633;
 
}
details > summary::marker {
        color: #c6d299;
}


.shopconcentrates {
    width: inherit;
}

.shopconcentrates h1 {
    position: relative;
    width: inherit;
    top: 80px;
    left: 100px;
}

.shopconcentrates h2{
    position: relative;
    width: inherit;
    top: 40px;
    left: 0px;
}

.flex-container {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 100px;
}

/* next, doing the divs within the above div, use a forward arrow > */

/**** TRYING SOMETHING ***/
.hover-img {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 200px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
    
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
        text-decoration: none;
    color: white;
      font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.hover-img::before,
.hover-img::after {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
    text-decoration: none;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}



/************ ROW ONE *************/

.flex-container > div {
    /*background-color: darkolivegreen;
    color: antiquewhite; /* text color */
    width: 15%;
    text-align: center;
    line-height: 15px;
    margin: 40px;
}

.flex-container > div > img {
    border: solid 3px;
}

.flex-container > div > a:hover {
    border: solid 10px;
}



/************ ROW TWO *************/

.flex-container2 {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 40px;
}

.flex-container2 > div {
    /*background-color: darkolivegreen;
    color: antiquewhite; /* text color */
    width: 15%;
    text-align: center;
    line-height: 15px;
    margin: 40px;
}

.flex-container2 > div > img {
    border: solid 3px;
}

/************ ROW THREE *************/

.flex-container3 {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 40px;
}

.flex-container3 > div {
    /*background-color: darkolivegreen;*/
    width: 15%;
    text-align: center;
    line-height: 15px;
    margin: 40px;
    justify-content: center;
}

.flex-container3 > div > img {
    border: solid 3px;
}

/************ ROW FOUR *************/

.flex-container4 {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 40px;
}

.flex-container4 > div {
    /*background-color: darkolivegreen;
    /*color: antiquewhite; /* text color */
    width: 15%;
    text-align: center;
    line-height: 15px;
    margin: 40px;
}

.flex-container4 > div > img {
    border: solid 3px;
}


/********* SHOP PITCHERS ***********/

.shoppitchers {
    width: inherit;
}

.shoppitchers h1 {
    position: relative;
    width: inherit;
    top: 80px;
    left: 100px;
}

.shoppitchers h2{
    position: relative;
    width: inherit;
    top: 40px;
    left: 0px;
}


/************** HOW-TO-USE PAGE (i.e. ABOUT) **************/



/*Easy-to-Use Concentrates*/
.easytouse {
    margin-left: 100px;
}

.easytouse h1 {
    position: absolute;
    top: 400px;
    left: 100px;
}

.easytouse h2 {
    position: absolute;
    top: 510px;
}




/* Mixing Directions*/
.mixdirections {
    margin-left:100px;
}

.mixdirections h1  {
    position: absolute;
    top: 750px;
}

.mixdirections h2 {
    position: absolute;
    top: 860px;
}

/*Pre-Measured Mix Pitchers*/
.premeasured {
    margin-left:100px;
}

.premeasured h1 {
    position: absolute;
    top: 1050px;
}

.premeasured h2 {
    position: absolute;
    top: 1160px;
}




/************** NUTRITION PAGE  **************/

/* Nutrition Facts */

.nutrition {
    margin-left: 100px;
}

.nutrition h1 {
    position: absolute;
    top: 400px;
    left: 100px;
}

.nutrition h2 {
    position: absolute;
    top: 550px;
}

.nutrition > div {
    top: 550px;
    text-align: center;
    line-height: 12px;
    margin: 40px;
}


/* Food Safety */

.safety {
    margin-left: 100px;
}

.safety h1 {
    position: absolute;
    top: 1100px;
    left: 100px;
}

.safety h2 {
    position: absolute;
    top: 1210px;
}




.flex-container-compliancelist_checks {
    display: flex;
    /*background-color: black;*/
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 300px;
}

.flex-container-compliancelist_checks > div {
    /*background-color: darkolivegreen;
    color: antiquewhite; /* text color */
    width: 50px;
    height: 200px;
    text-align: center;
    line-height: 12px;
    margin: 40px;

}



.flex-container-compliancelist_text {
    display: flex;
    /*background-color: black;*/
    margin-top: 500px;
        height: 40px;
    text-align: left;
    width: 5000px;
}

.flex-container-compliancelist_text > div {

    width: 5000px;
    height: 40px;
    text-align: left;
    line-height: 12px;

}

/************** CONTACT US PAGE **************/



/*How Can We Help You?*/
.howcanwehelp {
    margin-left: 100px;
}

.howcanwehelp h1 {
    position: absolute;
    top: 400px;
    left: 100px;
}

.howcanwehelp h2 {
    position: absolute;
    top: 510px;
}




/* Order Status*/
.orderstatus {
    margin-left:100px;
}

.orderstatus h1  {
    position: absolute;
    top: 1150px;
}

.orderstatus h2 {
    position: absolute;
    top: 1060px;
}

.flex-container-orderstatus {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 980px;
}

.flex-container-orderstatus > div {
    /*background-color: darkolivegreen;
    color: antiquewhite; /* text color */
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 12px;
    margin: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #919191;
}



/* SEND MESSAGE */
.sendmessage {
    margin-left: 100px;
}

.sendmessage h1  {
    position: absolute;
    top: 1650px;
}

.sendmessage h2 {
    position: absolute;
    top: 1060px;
}

.flex-container-sendmessage {
    display: flex;
    /*background-color: black;*/
    justify-content: left;
    justify-content: left;
    clear: both; /* means that the content within each column is not going to overflow */
    margin-top: 250px;
}

.flex-container-sendmessage > div {
    /*background-color: darkolivegreen;
    color: antiquewhite; /* text color */
    width: 100%;
    height: 200px;
    text-align: left;
    line-height: 12px;
    margin-left: 0px;
    margin-right: 200px;
    border-width: 0px;
    border-style: solid;
    border-color: #919191;
}

.form-textarea {

    font-family : Molle !important;

}





/************** FOOTERS **************/



.footer1index {
    margin-top: 220px;
}

.footer1index > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.footer1index > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}







.footer1about {
    margin-top: 1150px;
}

.footer1about > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.footer1about > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}




.footer1nutrition {
    margin-top: 800px;
}

.footer1nutrition > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.footer1nutrition > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}




.footer1contact {
    margin-top: 900px;
}

.footer1contact > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.footer1contact > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}



.flex-container5 {
    display: flex;
    /*background-color: black;*/
    justify-content: center;
    clear: both; /* means that the content within each column is not going to overflow */
}

.flex-container5 > div > img
{

    display: flex;
    margin-top: -10px;
    margin-left: 25px;
    margin-right: 25px;

}




.footer2 {
    width: 100%;
    margin-top: 80px;
    background-color: #000000;
    color: white;
    text-align: center;
    
}

.footer2 a {
        text-decoration: none;
    color: white;
}

.footer2 a:hover {
        text-decoration: underline;
    color: white;
        text-underline-offset: 5px;
}
